.red {
    background-color:red;
}

.blue {
    background-color:blue;
}

[class*="col-"] {
    padding: 30px;
    border: 1px solid gray;

}



header{
    background-color:gray;
}
section{

    /*background-color: floralwhite;*/
    
}

#floatLeft{

    position: static;
    float: left;
    background-color: white;

}
#floatRight{

    position: static;
    float: left;
    background-color: white;

}

aside{
    background-color: aliceblue;
    float: right;
    height : 270px;
    overflow: auto;
}

footer{
    background-color: cadetblue;
    clear: both;
}

.sectionCondition{
    background-color: floralwhite;
}
#statusWindow{

    background-color: sandybrown;

    /*width: 500px;*/

}
#statusWindowUpper{

}
#statusWindowLower{
    height: 115px;
    overflow: scroll;

}

#signupLabel{
    display: inline-block;
    width: 125px;
    text-align: right;
    margin-top: 2px;
}