.red {
    background-color:red;
}

.blue {
    background-color:blue;
}

[class*="col-"] {
    padding: 30px;
    border: 1px solid gray;

}



header{
    background-color:darkblue;
}
section{

    /*background-color: floralwhite;*/

}

#floatLeft{

    position: static;
    float: left;
    background-color: white;

}
#floatRight{

    position: static;
    float: left;
    background-color: white;

}

aside{
    background-color: aliceblue;
    float: right;
    height : 270px;
    overflow: auto;
}

footer{
    background-color: black;
    clear: both;
}

.sectionCondition{
    background-color: floralwhite;
}
#statusWindow{

    background-color: sandybrown;

    /*width: 500px;*/

}
#statusWindowUpper{

}
#statusWindowLower{
    height: 100px;
    overflow: scroll;

}

.signupLabel{
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-top: 2px;
}

th{
    width: 100px;
    height: 30px;

}
td{
    width: 110px;
    text-align: left;

}
input{
    width: 100px;
}
