<head>
	<link href="../../monitor/views/css/layout.css" rel="stylesheet">
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>





<!-- The example view -->
<div ng-controller="ExampleController">
	<!-- If the user is not authenticated show the authentication link -->


	<section>

		<div data-ng-show="!authentication.user">
			<form action="/signin" method="post">


				<div>
					<label id="signupLabel">Username : </label>
					<input type="text" name="username"/>
				</div>

				<div>
					<label id="signupLabel">Password : </label>
					<input type="text" name="password"/>
				</div>

				<div>
					<input type="submit" value="Sign In"/>
				</div>

			</form>

		</div>


		<!-- Otherwise, show the user details and application links -->
		<div data-ng-show="authentication.user">

			<ul>
				<li><a href="/#!/monitor">Ball Valve</a></li>
			</ul>
		</div>

	</section>




</div>