<!DOCUMENT html>
<html xmlns:ng="http://angulerjs.org">
    <head>
        <title> <%=title %></title>
    </head>
    <body>
        
        <section ng-view></section>
        
        
        <script type="text/javascript"> 
            window.user =<%- user ||'null' %>; 
        </script>
        
        

        	<!-- Load the Socket.io client -->	
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        


	       <!-- Load local libraries -->
        <script type="text/javascript" src="/lib/angular/angular.js"></script>        
        <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
        <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">






        <!-- Load the example module -->
         <script type="text/javascript" src="/example/example.client.module.js"></script>        
        <script type="text/javascript" src="/example/controller/example.client.controller.js"></script>        
        <script type="text/javascript" src="/example/config/example.client.routes.js"></script>
        
        	<!-- Load the user module -->
         <script type="text/javascript" src="/example/users.client.module.js"> </script>
        <script type="text/javascript" src="/users/service/authentication.client.service.js"> </script>
        
        
        	<!-- Load the monitor module -->
	<script type="text/javascript" src="/monitor/monitor.client.module.js"></script>
	<script type="text/javascript" src="/monitor/services/socket.client.service.js"></script>
	<script type="text/javascript" src="/monitor/controllers/monitor.client.controller.js"></script>
	<script type="text/javascript" src="/monitor/config/monitor.client.routes.js"></script>
        
        
         <script type="text/javascript" src="/application.js"></script>     
        
        
        
    </body>
</html>
